body {
    background-image: url('../images/gear.png');
    background-repeat:no-repeat ;
    background-position: top right;
    background-size: 15%;
    background-color: rgb(63, 63, 63);
    color: whitesmoke;
}