{% extends 'signedin.html' %}
{% block title %}Gears and Guesses{% endblock %}
{% block content %}
<div class="row">
    <div class="col s12 m12">
      <div class="card">
        <div class="card-content">
          <span class="card-title red-text">Your Guesses</span>
          {% if red_or_blue_wagers|length == 0%}
          <p>Nothing to see here right now.</p>
          {% else %}
          <p>Red or Blue</p>
          {% for row in red_or_blue_wagers %}
          <span>{{row["key"]}} ({{row["results"]}}): ${{row["wager"]}}</span><br/>
          {% endfor %}
          {% endif %}
        </div>
        <div class="card-action">
          <a class="blue-text" href="/games">Make a guess</a>
          <a class="blue-text" href="/leaderboard">See who's on top</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}