{% extends 'base.html' %}
{% block title %}Gears and Guesses - Login{% endblock %}
{% block content %}
<div class="card card-login">
    <div class="card-content">
        <span class="card-title">Sign in to Gears and Guesses</span>
        <p>An app by Red Raider Robotics</p>
        <p>{{errorMessage1}}</p>
        <form action="/login" method="post">
            <div class="input-field">
                <input id="username" name="username" type="text" />
                <label for="username">Username</label>
            </div>
            <div class="input-field">
                <input id="password" name="password" type="password" />
                <label for="password">Password</label>
            </div>
            <input class="blue btn right" type="submit" value="Sign in" />
        </form>
        <p><a href="/register">Don't have an account?</a></p>
    </div>
</div>
{% endblock %}