{% extends 'base.html' %}
{% block title %}Gears and Guesses - Register{% endblock %}
{% block content %}
<div class="card card-login">
    <div class="card-content">
        <span class="card-title">Register for Gears and Guesses</span>
        <p class="light">An app by Red Raider Robotics</p>
        <p>{{errorMessage}}</p>
        <form action="/register" method="post">
            <div class="input-field">
                <input id="username" name="username" type="text" />
                <label for="username">Username</label>
            </div>
            <div class="input-field">
                <input id="name" name="name" type="text" />
                <label for="name">Real Name</label>
            </div>
            <div class="input-field">
                <input id="password" name="password" type="password" />
                <label for="password">Password</label>
            </div>
            <input class="blue btn right" type="submit" value="Register" />
        </form>
        <p><a href="/login">Have an account?</a></p>
    </div>
</div>
{% endblock %}